<canvas id="inputCanvas"></canvas>
<video id="inputVideo" autoplay loop></video>
<button class="mute btn btn-lg btn-danger" data-muted="false"><span class="glyphicon glyphicon-pause"></span><p>Mute</p></button>
