<!doctype html>
<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="css/custom.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/js/headtrackr.js"></script>
    <script src="/js/application.js"></script>
  </body>
</html>
